# IDE
.idea/
.vscode/
*.swp
*.swo

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Dependency directories
vendor/
bin/

# Environment variables
.env
.env.local
.env.*

# Build and debug
debug
debug.test